<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Speakify -convert your pdf to audio</title>
  <link rel="stylesheet" href="../static/landing.css">
  <link rel="shortcut icon" href="../static/logo.PNG" type="image/x-icon" />
</head>
<body>
    <div>
        <img src="../static/Speakify.png" alt="" class="background">
        <img src="../static/bg.png" alt="" class="bg">
        <div class="heading" >
        <img src="../static/logo.png" alt="logo" class="logo">

            <p class="title">Speakify</p>
            <p class="subscript">Making it audible for you!</p>
            <a href="/mainpage"><button class="started" > Lets get Started</button></a>
        </div>
    </div>
    <footer>
        <hr class="footerdivider" />
        <div class="foot-links">
          <a href="#" class="footext">SERVICES</a>
          <a href="#" class="footext">PRIVACY POLICY</a>
          <a href="#" class="footext">TERMS</a>
          <a href="#" class="footext">HELP</a>
          <a href="#" class="footext">CONTACT US</a>
        </div>
        <div class="copy">
          <p class="copyright">SPEAKIFY &copy; 2023.</p>
        </div>
      </footer>
</body>
</html>